<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<form action="http://127.0.0.1:5000/login" method="P0ST">

    Frist name: <input type="text" name="fn"></br>
    Last name: <input type="text" name="ln"></br>
    Gender: <input type="radio" name="gender" value="male">Male</br>
           <input type="radio" name="gender" value="female">Female</br>
    Address: <textarea rows="4" cols="10"  type="text" name="address"></textarea>></br>
    country: <select name="country">
           <option value="India"> India </option></br>
        <option value="U S A"> U S A </option></br>
        <option value="U K"> U K </option></br>
        <option value="Sri Lanka">Sri Lanka </option></br>
     </select></br>
    Hobbirs:<input type="checkbox" name="hobbies" value="Cricket">Cricket</br>
            <input type="checkbox" name="hobbies" value="Chess">Chess</br>
            <input type="checkbox" name="hobbies" value="music">music</br>
            <input type="checkbox" name="hobbies" value="Reading">reading</br>

    <input type="submit" name="submit">
</form>
</body>
</html>
